/* ThemeSwitcher.css */
.theme-switcher {
    display: flex;
    align-items: center;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.theme-switcher .icon {
    width: 24px;
    height: 24px;
    color: var(--text-color);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
